<!DOCTYPE html>


<!--{% for g in greetings %}
<li>{{g}}</li>
{% endfor %}

<h5>{{ only_one }}</h5>-->

<h1 style="color:red;">This project is still under work. This form will not return anything or trigger any actions as of now</h1>

{% comment %} {% for data in cached %}
<li>{{ data }}</li> 
{% endfor %} {% endcomment %}


<form method='post'>
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Send">
</form>


<div> {{ cached }} </div>


{% comment %} <span>
Limitations: 
1. This applicaation does not store user data, so any progress will be lost once the page is refreshed.
2. 
</span>  {% endcomment %}